@tailwind base;
@tailwind components;
@tailwind utilities;

.perspective-1000 {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.rotateY-180 {
  transform: rotateY(180deg);
}

.card-border {
  border: 2px solid #e2e8f0;
  border-radius: 10px;
  background: #fffaf2; /* Cream color */
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-inner-border {
  border-radius: 8px;
  background: linear-gradient(135deg, #c8cebd, #556B2F);
  padding: 1px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #4a4a4a;
}

.card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0px;
}

.card-content {
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FAFAD2;
}

.card-description {
  background: #fffaf2;
  padding: 10px;
  border-radius: 0 0 8px 8px;
  text-align: center;
  color: #4a4a4a;
  height: 50%; 
  width: 100%;
}

.card-image-container {
  width: 110px; /* Increased size */
  height: 110px; /* Increased size */
  background: #556B2F;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.card-image {
  width: 110px; /* Increased size */
  height: 110px; /* Increased size */
  border-radius: 50%;
  overflow: hidden;
}

.curved-text {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}